<footer class="border-top py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <div>
          <ul class="border-bottom"> <li><a href="/about.html">About #NoGhostHiring</a></li> <li><a href="https://app.nocodb.com/#/nc/form/aeeada42-f15a-44af-9fea-279bc1501401" target="_blank">Share Your  Experience</a></li> <li><a href="/transparency.html">Transparency in Progress <span class="badge rounded-pill text-bg-secondary">For Companies</span> </a></li> <li><a href="/faq.html">FAQ</a></li> <li><a href="/records.html">Ghosting Records</a></li> <li><a href="/whitepaper.html">Methodology Whitepaper</a></li> </ul>
          <ul class="border-bottom"> <li><a target="_blank" href="https://discord.gg/4EErg9jnfJ">Join Community</a></li> <li><a target="_blank" href="https://www.linkedin.com/company/noghosthiring/">LinkedIn</a></li> <li><a target="_blank" href="https://github.com/akhilrrr/noghosthiring">Github</a></li> <li><a href="/feedback.html">Share Feedback</a></li> </ul>
          <ul> <li><a href="/control.html">Control & Erasure</a></li> <li><a href="/disclaimer.html">Disclaimer</a></li> <li><a href="/privacy.html">Privacy and Third-parties</a></li> <li><a href="/donotsell.html">Do Not Sell</a></li> <li><a href="/cookies.html">Cookies Policy</a></li> <li><a href="/legal.html">Legal Policy</a></li>
            <li><a href="https://www.producthunt.com/products/noghosthiring?embed=true&utm_source=badge-featured&utm_medium=badge&utm_source=badge-noghosthiring" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=1016971&theme=dark&t=1758135617947" alt="NoGhostHiring - Stop&#0032;hiring&#0032;ghosting&#0046;&#0032;Track&#0044;&#0032;share&#0044;&#0032;and&#0032;stay&#0032;informed&#0046; | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a></li>
            <li> <p> © <span id="current-year">2025</span> NoGhostHiring. All rights reserved. <br/><br/> NoGhostHiring is here to make hiring more transparent by showing which companies have repeated patterns of ghosting. All the data comes from the community and is carefully reviewed, but it’s meant for informational purposes only. You can’t reproduce, redistribute, or use this material commercially without permission. By sharing this information openly, we want to help job seekers and encourage fairer hiring practices. Please respect that goal when sharing or citing our content. </p> </li> </ul>
          <ul> <li> <a class="navbar-brand fw-bold d-flex align-items-center" href="/index.html"> <img src="/assets/images/NoGhost-Logo.svg" alt="#NoGhostHiring Logo" class="me-2"> </a> </li> </ul>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</footer>

<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/search.js"></script>

<script> document.getElementById("current-year").textContent = new Date().getFullYear(); </script>







